<div class="w-full h-screen bg-gradient-to-b from-slate-700 to-green-950 p-3">
  <div class="m-auto w-fit text-white">
    <img src="assets/Logo.png" alt="" class="w-14 flex m-auto" />
    <h2 class="text-3xl font-bold">Reset your password</h2>
    <p>
      Enter the email address or username linked to your Spotify account and
      we'll send you an email.
    </p>
    <label for="" class="mt-5 block font-medium"
      >Email address or username</label
    >
    <input
      type="text"
      class="rounded-md p-2 border-2 border-slate-300 bg-transparent w-full"
      placeholder=""
      [formControl]="email"
    />
    <button
      class="rounded-full bg-green-500 w-full md:w-25 p-2 mt-4 hover:bg-green-600"
    >
      Send link
    </button>
  </div>
</div>
